<%- include('layout') %>

<body>
    <%- include('header') %>
    <h1>Categories</h1>
    <% if (locals.user && locals.user === 'admin') { %>
    <form action="/categories" method="post">
        <input type="text" name="name" id="categoryName" placeholder="Category Name" required>
        <button type="submit">Add Category</button>
    </form>
    <% } %>
    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/categories/<%= category.id %>/items"><%= category.name %></a>
                <% if (locals.user && locals.user === 'admin') { %>
                <a href="/categories/edit/<%= category.id %>">Edit</a>
                <a href="/categories/delete/<%= category.id %>" onclick="return confirm('Are you sure you want to delete <%= category.name %> category?');">Delete</a>
                <% } %>
            </li>
        <% }) %>
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('categoryName').focus();
        });
    </script>
</body>
</html>


