<%- include('layout') %>

<body class="">
    <%- include('header') %>
   
    <div class="categories-container">
        <% categories.forEach(category => { %>
            <div class="category">
                <h2 class="category-title"><%= category.name %></h2>
                <ul class="item-list">
                    <% category.items.forEach(item => { %>
                        <li class="item"><%= item.name %> - $<%= item.price %></li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
    </div>
</body>
</html>
