<%- include('layout') %>

    <%- include('header') %>
    <form action="/newecom" method="POST">
        <div>
            <label for="department">Department</label>
            <select name="department" id="department">
                <option value="computers">Computers</option>
                <option value="hardlines">Hardlines</option>
                <option value="softlines">Softlines</option>
                <option value="jewelry">jewelry</option>
                <option value="electrical">Electrical</option>
            </select>
            
        </div>
        <div>
            <label for="firsttag">First tag</label>
            <input type="text" id="firsttag" name="firsttag">
        </div>
        <div>
            <label for="secondtag">Second Tag tag</label>
            <input type="text" id="secondtag" name="secondtag">
        </div>
        <div>
            <label for="itemcount">Item Count</label>
            <input type="number" id="itemcount" name="itemcount">
        </div>
        <button type="submit">Submit</button>
    </form>
<hr>
<div class="main-box">
    <% data.forEach(function(row) { %>
    <% total_items += row.item_count %>

<div class="box">
    <p>Date: <%= row.created_date.toDateString() %></p>
    <p>Department: <%= row.department %> </p>
    <p>Employee: <%= row.user_name %> </p>
    <p>Tag1: <%= row.first_tag %> </p>
    <p>Tag2: <%= row.second_tag %> </p>
    <p>Item Count: <%= row.item_count %> </p>
    
    
</div>
<% }) %>
</div>

<h2>Total Items sent: <%= total_items %></h2>

</body>