<%- include('layout') %>
<body>
    <%- include('header') %>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <% if (messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
    <% } %>
    <div class="content">
        <h1>Hi <%= name %></h1>
        <h2>You are Changing lives</h2>

      
    </div>
    <div class="custom-button-container">
        <a href="/testing" class="custom-button">Testing</a>
        <a href="/processing" class="custom-button">Processing</a>
        <!-- <a href="#" class="custom-button">Pricing</a> -->
        <a href="/dman" class="custom-button">D-Man</a>
    </div>

    <!-- MOTD  -->
    <div class="buffer-left">
        <h1>MOTD: </h1>
       
    </div>
    <div class="buffer-left">
        <h1>Items needed on the floor: </h1>
        <% if (items.length > 0)  {%>
            <ul>
                <% items.forEach(item => { %>
                    <li>
                        <%= item.item  %>
                    </li>
                    <% })  %>
                </ul>
                <% } else { %>
                        <p>No items found</p>
                       
            
             <% } %>
    </div>
</body>
</html>
