<%- include('layout') %>
<body>
    <%- include('header') %>
    
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <% if (messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
    <% } %>
    <div class="content">
        <h1><%= name %></h1>
        

      
    </div>
    <div class="custom-button-container">
        <a href="/processing" class="custom-button">Processing</a>
        <!-- <a href="#" class="custom-button">Pricing</a> -->
        <a href="/dman" class="custom-button">D-Man</a>
    </div>

    <!-- MOTD  -->
    <div class="motd-container">
          
        <a href="/motd"><h1>MOTD: </h1></a>
        
   
           <% if (motd) { %>
            <% if (Array.isArray(motd) && motd.length > 0) { %>
                <%= motd[0].username %>~ <%= motd[0].motd %>
            <% } else if (motd.motd) { %>
                <%= motd.username %>~ <%= motd.motd %>
            <% } %>
        <% } %>
    
    </div>
  
     
    
    
    <div class="wishlist-container">
        <a href="/wishlist"><h1>Items needed on the floor: </h1></a>
        <% if (items.length > 0)  {%>
            <ul>
                <% items.forEach(item => { %>
                    <li>
                        <%= item.item  %>
                    </li>
                    <% })  %>
                </ul>
                <% } else { %>
                        <p>No items found</p>
                       
            
             <% } %>
    </div>
</body>
</html>
