<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body> 
    <% console.log(include('header')) %>
    <%- include('./header') %>
   
    <h1><%= mainCategory.name %></h1>
    <h2>Categories</h2>
    <ul>
        <% categoriesWithItems.forEach(category => { %>
            <li>
                <h3><%= category.name %></h3>
                <ul>
                    <% category.items.forEach(item => { %>
                        <li><%= item.name %> - $<%= item.price %></li>
                    <% }) %>
                </ul>
            </li>
        <% }) %>
    </ul>
</body>
</html>