<%- include('layout') %>

<body>
    <%- include('header') %>

    <h1>New Numbers Form</h1>
    <form class="newnum" action="/newnumbers" method="POST">
        <label for="commonDate">Select Date for All Entries:</label>
        <input type="date" name="commonDate" id="commonDate" value="<%= currentDate %>" required>

        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Amount</th>
                    <th>Number of Items</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><input type="text" name="amount_<%= user.id %>" placeholder="Enter amount"></td>
                        <td><input type="number" name="number_<%= user.id %>" placeholder="Total number"></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <button type="submit" >Submit All</button>
    </form>
</body>
</html>