<%- include('layout') %>

<body class="usertotals">
    <%- include('header') %>
    <% let totalDays = 0; %>
    <% // Group results by date %>
    <% let groupedResults = {}; %>
    <div class="dashboard-main-box">
    <div class="dashboard-box">
    <% results.forEach(result => { %>
        <% console.log(result) %>
        <% let dateKey = new Date(result.created_at).toDateString(); %>
        <% if (!groupedResults[dateKey]) { %>
            <% groupedResults[dateKey] = []; %>
        <% } %>
        <% groupedResults[dateKey].push(result); %>
    <% }); %>
    <% let totalAmountForMonth = 0; %>

    <% // Render a table for each date group %>
    <% Object.keys(groupedResults).forEach(date => { %>
        <% totalDays += 1 %>
        <h2><%= date %></h2>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Amount</th>
                    <th>Number</th>
                    <th>Item Average</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% let totalAmount = 0; %>
                <% let totalNumber = 0; %>
            

                <% groupedResults[date].forEach(result => { %>
                    <% let amount = parseFloat(result.amount); %>
                    <% let number = parseFloat(result.number); %>
                    

                    <tr>
                        <td><%= result.name %></td>
                        <td><%= amount.toFixed(2) %></td>
                        <td><%= number %></td>
                        <td><%= (amount / number).toFixed(2) %></td>
                        <td>
                            <a href="/editnumbers/<%= result.id %>" class="edit-btn">Edit</a>
                        </td>
                    </tr>

                    <% totalAmount += amount; %>
                    <% totalNumber += number; %>
                    <% totalAmountForMonth += amount; %>
                    
                <% }); %>

                <% let averageAmount = totalNumber ? totalAmount / totalNumber : 0; %>

                <tr>
                    <td><strong>Totals</strong></td>
                    <td><strong><%= totalAmount.toFixed(2) %></strong></td>
                    <td><strong><%= totalNumber %></strong></td>
                    <td><strong><%= averageAmount.toFixed(2) %></strong></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
    <% }); %>
</div>
    <div class="dashboard-box">
          
    <p>Total produced: $<%= totalAmountForMonth.toFixed(2)%></p>
    <p>Average per day: $<%= (totalAmountForMonth / totalDays).toFixed(2)   %></p>
    <p>Average per item: $</p>
    <h4>User with the Highest Total per Day</h4>
    <% if (highestAverageUser) { %>
        <p>User: <%= highestAverageUser.name %></p>
        <p>Highest Total per Day: <%= parseFloat(highestAverageUser.average_total_amount_per_day).toFixed(2) %></p>
    <% } else { %>
        <p>No data available for the current month.</p>
    <% } %>
    </div>
</div>
</body>
</html>
