<%- include('layout') %>
    <body class="userlist">
        <%- include('header') %>
        <h1>Users</h1>
        <form class="u-delete-form" action="/delete-users" method="POST">
            
                <% if (users.length > 0) { %>
                    <ul>
                        <% users.forEach(user => { %>
                            <li>
                                <input type="checkbox" name="userId[]" value="<%= user.id %>">
                                <%= user.name %> - <%= user.role  %> - <%= user.email %> Role: <%= user.role %>
                                <a href="/edit-user/<%= user.id %>" class="edit-button">Edit</a>


                            </li>
                        <% }) %>
                    </ul>
                <button class="userButton" type="submit">Delete</button>
                <% } else { %>
                <p>No users found</p>
                <% } %>
            <a href="/newuser">Create User</a>
        </form>
    </body>
    </html>