<%- include('layout') %>
<body>
    <%- include('header') %>
    <style>
        .table-container {
            width: 80%;
            margin: 20px auto;
            font-family: Arial, sans-serif;
        }

        .details-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .details-column {
            width: 48%;
        }

        .details-column p {
            margin: 5px 0;
        }

        .table {
            font-size: 12px;
            line-height: 1.5em;
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 15px;
        }

        .table th, .table td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        .table th {
            background-color: #1018b1;
            color: white;
        }

        .table tr:hover {
            background-color: #f2f2f2;
        }

        .button, .edit-button {
            margin-top: 30px;
            padding: 10px 20px;
            background-color: #1018b1;
            color: white;
            text-decoration: none;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="table-container">
        <h1>URT Shipment Details</h1>
        
        <!-- Details Container with Two Columns -->
        <div class="details-container">
            <div class="details-column">
                <p><strong>Shipping Date:</strong> <%= new Date(dataObject.submission_date).toLocaleDateString('en-US') %></p>
                <p><strong>PO Number:</strong> <%= dataObject.ponumber %></p>
            </div>
            <div class="details-column">
                <p><strong>Seal Number:</strong> <%= dataObject.sealnumber %></p>
                <p><strong>Container Number:</strong> <%= dataObject.container_number %></p>
            </div>
        </div>
      
        <br>
        <div class="weightDataButtons">
             <a href="/weight-data/<%= dataObject.id %>/bill-of-lading" class="button">Bill of Lading</a>
             <a href="/weight-data/<%= dataObject.id %>/sales-order" class="button">Sales Order Form</a>
             <a href="/weight-data/<%= dataObject.id %>/edit" class="button">Edit</a>   
        </div>
      
            <br>
        <!-- Data Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Shippted Weight</th>
                    <th>URT Weight</th>
                    <th>Price per lb</th>
                    <th>Total Price</th>
                    <th>Mellon</th>
                </tr>
            </thead>
            <tbody>
                <%  let totalSum = 0; 
                    let totalShippedWeight = 0;
                    let totalUrtWeight = 0
                %>
                <% items.forEach(i => { 
                    
                    const adjustedWeight = i.mellon === true ? i.weight - 40 : i.weight - 90; 
                    const totalPrice = adjustedWeight * i.price; // Use adjustedWeight for total price
                    totalSum += totalPrice; // Update totalSum
                    totalShippedWeight += i.weight;
                    totalUrtWeight += adjustedWeight
                    
                %>
                    <tr>
                        <td><%= i.item %></td>
                        <td><%= i.weight %></td>
                        <td><%= adjustedWeight %></td>
                        <td>$<%= i.price ? i.price.toFixed(2) : '0.00' %></td>
                        <td>$<%= totalPrice.toFixed(2) %></td>
                        <% if (i.mellon === true) { %>
                            <td>No</td>
                        <% } else { %>
                            <td>Yes</td>
                        <% } %>
                    </tr>
                <% }) %>
                <!-- Total Row -->
                <tr class="total-row">
                    <td>Totals:</td>
                    <td><strong><%= totalShippedWeight %></strong></td>
                    <td><strong><%= totalUrtWeight %></strong></td>
                    <td></td>
                    <td><strong>$<%= totalSum.toFixed(2) %></strong></td>
                    <td></td>
                </tr>
             
            </tbody>
        </table>

      
            <br>
            <br>
            

    </div>
</body>
</html>
